<div class="panel panel-default article1">
  <div class="panel-body">
    Basic panel example
    Nested media heading
Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
<iframe width="560" height="315" src="//www.youtube.com/embed/sD2KJKOgGGU?wmode=transparent" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="panel panel-default article2">
  <div class="panel-body">
    Basic panel example
    Nested media heading
Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
<iframe width="560" height="315" src="//www.youtube.com/embed/sD2KJKOgGGU?wmode=transparent" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="panel panel-default article3">
  <div class="panel-body">
    Basic panel example
    Nested media heading
Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
<iframe width="560" height="315" src="//www.youtube.com/embed/sD2KJKOgGGU?wmode=transparent" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="panel panel-default article4">
  <div class="panel-body">
    Basic panel example
    Nested media heading
Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
<iframe width="560" height="315" src="//www.youtube.com/embed/sD2KJKOgGGU?wmode=transparent" frameborder="0" allowfullscreen></iframe>
  </div>
</div>