<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

  <title> ENSS</title>

  <!-- Just for debugging purposes. Don't actually copy this line! -->
  <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>


      <div class="container">

        <!-- Main component for a primary marketing message or call to action -->


          <%= image_tag "casque.jpg" %>
        
          <div class="media-body">
            <div class="media">
            <p>Nous voici dans la ligne droite de ces elections municipales. A Sevran, ville de 50 000 habitants, une liste citoyenne et indépendante fait de la résistance face aux partis classiques comme le Front de Gauche, mené par la médiatique Clémentine Hautain et le non moins médiatique maire de la ville Stéphane Gatignon au sein d'EELV. Ensemble, nous sommes Sevran. Voici le nom de cette liste que mènent Seid Ferrat et son directeur de campagne Yacine Hilmi. Avec l'appui d'habitants des différents quartiers de la ville.</br>
              Nous vous proposons de pénétrer au plus près de cette aventure humaine.
              Dans une ville trop souvent abonnée à la rubrique faits divers, bienvenue dans une autre réalité. </p>
              <%= link_to "Entrer", campagne_path, class: "btn btn-default enter" %>

            </div>
          </div>

        </div> <!-- /container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
  </html>
