<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<h1 class="titre">
			<span class="glyphicon glyphicon-registration-mark"></span><span> Made in Sevran</span><%= link_to "Home", root_path, class: "btn btn-default home" %>
		</h1>
	</div>
</nav>